body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}
.first-Container {
  height: 450px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  padding: 10px 50px;
  width: 50vw;
  border-radius: 40px;
}
.h-four {
  width: 100%;
}

.wrapper {
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.box {
  flex: 1;
  border: 1px solid black;
}
hr {
  border: 5px solid blue;
}
.primary {
  border: 5px solid red;
  width: 100%;
  margin-left: 0;
}

.second-wrapper {
  width: 100vw;
  height: 850px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h-four {
  width: 50vw;
  padding: 20px;
  border-radius: 20px;
}

.second {
  height: 550px;
  display: flex;
  flex-direction: row;
  width: 70%;
  border: 2px solid black;
  border-radius: 50px;
}

.container {
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 20px;
}
.items {
  border: 1px solid black;
}

.container .items:nth-child(7) {
  align-self: center;
}
.hr {
  width: 100%;

  border: 5px solid blue;
}
.cross {
  margin-right: 20px;
  width: 1%;
  background-color: red;
  border: none;
}
.pointers {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.third-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.sub-head {
  width: 50%;
}
.second-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.section-two {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
}

.para-one {
}
